.medium {
    font-size: 20px;
}

.large {
    font-size: 50px;
}

.superLarge {
    font-size: 100px;
}

.strongText {
    font-weight: bold;
}

.fadeText {
    color: #CCCCCC;
}

.fancyText {
    font-family: 'Baloo Thambi', cursive;
}

.centerText {
    text-align: center;
}

.leftText {
    text-align: left;
}
